/* adminDashboardStyles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  /* Estilos para los formularios o componentes que agregues en el Dashboard */
  .formContainer {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .inputLabel {
    font-weight: bold;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para las secciones o componentes adicionales del Dashboard */
  .section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
  }
  
  /* Estilos para tablas, listas o cualquier otro elemento específico que agregues */
  .tableContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .table {
    width: 100%;
  }
  
  .tableHeader {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }
  
  .tableRow {
    background-color: #fff;
  }
  
  .tableRow:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .tableCell {
    padding: 10px;
  }
  
  /* Estilos adicionales según tus necesidades */
  