/* styles.module.css */

/* Estilos generales */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .inputLabel {
    font-weight: bold;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el mensaje de error */
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Estilos para la animación de carga */
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 18px;
  }
  
  /* Estilos para el botón de edición */
  .editButton {
    background-color: #28a745;
  }
  
  .editButton:hover {
    background-color: #218838;
  }
  
  /* Estilos para el botón de eliminación */
  .deleteButton {
    background-color: #dc3545;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  