/* styles.module.css */

.cart {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;
  }
  
  .cart:hover {
    background-color: #f0f0f0;
  }
  
  .cartDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
  }
  
  .cartTotal {
    font-size: 16px;
    font-weight: bold;
  }
  
  .cartImageContainer {
    width: 30px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cartImage {
    max-width: 100%;
    max-height: 100%;
  }
  
  .cartItemsCount {
    font-size: 12px;
    font-weight: bold;
    color: #f48608;
    margin-top: 2px;
  }
  