/* styles.module.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    flex: 0 1 calc(33.33% - 20px);
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .cardImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .cardTitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .cardDescription {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .cardPrice {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cardButton {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cardButton:hover {
    background-color: #0056b3;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pageButton {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .activePageButton {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .activePageButton:hover {
    background-color: #0056b3;
  }
  