  .navbar {
    background-color: #000000;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    height: 100px
  }
  /* styles.module.css */

/* ... Otros estilos ... */

.shop {
  display: flex;
  width: 1px; /* Ajusta el tamaño según sea necesario */
  height: 1px; /* Ajusta el tamaño según sea necesario */
}

.cartItemCount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff9900;
  color: #fff;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 12px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logoImg {
  width: auto;
  height: 200px;
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding: 0;
  font-size: large;
}

li {
  margin-left: 10px;
  transition: all 0.3s ease; 
}

li:hover {
  transform: scale(1.1); 
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease; 
}

a:hover {
  color: #ffcc00; 
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;

  }

  .logo {
    margin-bottom: 10px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 10px 0;
  }
}
.dropdown {
  position: relative;
  color: antiquewhite;

}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #03120648;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent li {
  margin: 5px 0;
}

.dropdownContent li:hover {
  color: aqua
}

.dropdownContent a {
  color: antiquewhite;
}

.dropdownContent a:hover {
  color: cadetblue;
}